@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@300;600&family=Merriweather:ital,wght@1,700&display=swap');

.container {
  width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

section, header{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#backgroundImage {
  width: 1150px;
  height: 360px;
  
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid black 4px;
  
  margin: 0 275px 0 -275px;  
  padding: 0;
}

.title {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: left;
  margin: -150px auto 10px auto;  
  
  font-family: 'Abril Fatface', cursive;
  color: #222;
  line-height: 150%;
}

#headParagraph {
  width: 650px;
  font-size: 112%;
  letter-spacing: -0.5px;
  text-shadow: 0 0 1px grey;
  margin-top: 90px;
}

#headList {
  width: 650px;
  font-size: 112%;
  line-height: 25px;
  color: black;
  text-shadow: 0 0 1px grey;
  letter-spacing: -0.5px;
  list-style-type: square;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color: white;
  background-color: #404040;
  font-size: 260%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
   
  width: 605px;
  min-height: 150px;
  text-align: left;
  position: relative;
  
  padding: 0 50px 0 50px;
  margin: 35px auto 10px auto;
}

.secondQuote, .thirdQuote {
  height: 200px;
}

blockquote::before {
   content: '“';
   font-family: 'Abril Fatface', cursive;
   font-style: normal;
   color: white;
   font-size: 300%;
   position: absolute;
   top: -33px;
   left: 0;
}

p, ul {
  font-family: 'Josefin Sans', sans-serif;
  color: #262626;
  text-shadow: 0 0 1px #222;
  font-size: 92%;
  letter-spacing: -0.5px;
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: square;
  line-height: 1.6;
  border-radius: 3px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif; 
  text-transform: uppercase;
  font-size: 140%;
  letter-spacing: 1px;
  color: #333333;
  margin: 40px 0 50px 0;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  letter-spacing: -0.7px;
  line-height: 30px;
  margin: 30px 0 10px 0;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  
  line-height: 0;
  margin: 10px 0 25px 0;
  color: #333333;
}

hr {
  width: 630px;
  padding: 0;
  border: 2px solid black;
  margin: 20px auto 10px auto;
}